body {
    background-color: #474747;
    color: #e6e6e6;
    font-family: Arial;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#main-header{
  background: #2F4034;
  color: white;
  margin-bottom: 30px;
}

#navbar ul{
  padding: 0;
  list-style: none;
}

#navbar li{
  display: inline;
  font-size: 18px;
  padding-right: 30px;
}

.quote{
  margin: 0;
  border-left: solid 5px #e6e6e6;
  padding-left: 1em;
  font-size: 20px;
  font-style: italic;
}


#navbar li:first-child{
  font-size: 22px;
  padding-right: 60px;
}

#sidebar{
  float: left;
  width: 20%;
}

#sidebar ul{
  list-style: none;
  padding: 0;
}

#profile-picture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

}


#main{
  float: right;
  width: 78%;
}

@media (max-width:1000px){
  #profile-picture{
    width: 70px;
    height: 70px;
     float: left;
  }
  .bio{
    padding-left: 90px;
  }
  h3{
    margin: 0;
  }
  #main {
    width: 100%;
    float: none;
    font-size: 14px;
    line-height: 1.4em;
  }
  .quote{
    font-size: 16px;
  }
  #sidebar {
    width: 100%;
    float: none;
  }
  #sidebar ul{
    display: none;
  }
}
